<div class="btn-group">
    <button class="btn">Samlet</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#" data-round="4">4. spillerunde</a></li>
        <li><a href="#" data-round="3">3. spillerunde</a></li>
        <li><a href="#" data-round="2">2. spillerunde</a></li>
        <li><a href="#" data-round="1">1. spillerunde</a></li>
        <li class="divider"></li>
        <li><a href="#" data-round="all">Samlet</a></li>
    </ul>
</div>