<div class="btn-group">
    <button class="btn" id="roundPickerCaption"><!-- Will be dynamically populated --></button>
    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>

    <ul class="dropdown-menu">
    </ul>

</div>