.per-game{
	color:#aaa;
}

.sort{
	margin-top: 9px;
	float: right;

	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-right: 4px solid transparent;
	border-left:  4px solid transparent;
	content: "";

	&.up{
		border-bottom:   4px solid $black;
	}
	&.down{
		border-top:   4px solid $black;
	}
}