<div class="container">
    <div class="row">
        <div class="span12">

            <div class="leaderboard-caption"></div>

            <div class="pull-right">
                <div class="season-picker"></div>

                <div class="round-picker"></div>                       
            </div>

            <div class="leaderboard-main"></div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="chart-money"></div>
        </div>
    </div>
</div>