<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {{! items : <li><a href="#">Home</a></li> }}
                </ul>
            </div>
        </div>
    </div>
</div>