<table class="table table-condensed table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th data-sort-entity="name">Navn</th>
            <th data-sort-entity="appearances">Antal spil</th>
            <th data-sort-entity="points">Point</th>
            <th class="per-game" data-sort-entity="pointsPerGame">Point / spil</th>
            <th data-sort-entity="hits">KO</th>            
            <th class="per-game" data-sort-entity="hitsPerGame">KO / spil</th>
            <th data-sort-entity="moneyWon">Kr.</th>
            <th class="per-game" data-sort-entity="moneyWonPerGame">Kr. / spil</th>
            <th data-sort-entity="inTheMoney">ITM</th>
            <th class="per-game" data-sort-entity="inTheMoneyPercentage">ITM%</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>