<div class="btn-group">
    <button class="btn">Sæson 2013</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#" data-season="2013">Sæson 2013</a></li>
        <li class="divider"></li>
        <li><a href="#" data-season="all">Alltime</a></li>
    </ul>
</div>